.company-setting-icon {
  font-size: 22px;
  color: var(--bs-primary);
  margin-right: 0.5rem;
}

.c-useraccount-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.save-btn-row {
  display: none;
}

.form-editable .save-btn-row {
  display: block;
}
