.login-wrapper {
  height: 75vh;
  overflow: hidden;
}

.login-left {
  width: 50%;
  text-align: center;
}

.login-left img {
  width: 75%;
}
.login-left-part {
  position: relative;
}
.login-left-part::after {
  content: "";
  position: absolute;
  top: 5%;
  right: 10%;
  background: rgb(228, 228, 228);
  bottom: 5%;
  width: 1px;
}
